<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>

<h1>
    <header>
        <div align="center">LOG IN</div>
    </header>
</h1>
<form action="/menu" name="menu" method="GET" width="983">
    <td width="62">
        <input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.main" name='menu'>
    </td>
    <td width="60"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.results" name='menu'></td>
    <td width="55"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.chat" name='menu'></td>
    <td width="56"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.store" name='menu'></td>
    <td width="62"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.forum" name='menu'></td>
    <td width="61"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.online" name='menu'></td>
    <td width="58"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.voting" name='menu'></td>
    <td width="74"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.profile" name='menu'></td>
</form>
<#if username?? && username?has_content>
<p>Invalid username or password</p>
<form method='post' action='/login' value="${username}">
    Username: <input type='text' name='username' value="${username}"/>
    <br>
<#else>
    <form method='post' action='/login'">
    Username: <input type='text' name='username' value=""/>
    <br>
</#if>
    Password: <input type='password' name='password'/>
    <br>
    <input type="checkbox" name="checked"><span>Save me</span><br>
    <br>
    <input type='submit' value='Log In'/>
</form>
</body>
</html>