<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.main</title>
    <link rel="stylesheet" type="text/css" href="web/css/bootstrap.css">
</head>

<body>
<h1 class="container">
    <header>
        <div align="center">MAIN</div>
    </header>
</h1>
<form method='get' action='/logout'>
    <input type='submit' value='ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.logout'/>
</form>
<div class="container">
    <div class="row">
        <form action="/menu" name="menu" method="GET" width="983">
            <td class="span1"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.main" name='menu'></td>
            <td class="span1"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.results" name='menu'></td>
            <td class="span1"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.chat" name='menu'></td>
            <td class="span2"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.store" name='menu'></td>
            <td class="span2"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.forum" name='menu'></td>
            <td class="span2"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.online" name='menu'></td>
            <td class="span2"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.voting" name='menu'></td>
            <td class="span2"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.profile" name='menu'></td>
        </form>
    </div>
</div>
<footer>
    <section>
        <div align="center"><strong>Lorem ipsum</strong></div>
    </section>
</footer>
<article>
    <p align="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mollis leo id ullamcorper
        hendrerit. Sed tortor quam, laoreet gravida congue in, pretium vitae tortor. Cum sociis natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus. Nulla cursus ac orci ac viverra. Aenean in quam eu risus
        consequat commodo. Fusce ut imperdiet nunc. Curabitur aliquet metus nulla, non molestie diam iaculis non.
        Quisque lobortis ultrices nibh nec egestas. Vivamus laoreet sem ut felis molestie, et euismod ex vulputate.
        Donec purus ligula, vestibulum ac magna nec, tincidunt aliquet felis. Nullam venenatis rutrum nisi et mollis.
        Sed dapibus facilisis nisl a ullamcorper. Aliquam eu augue dolor. Nulla ante orci, convallis vitae ante vel,
        consequat rutrum odio. Proin a sollicitudin eros. Donec suscipit ipsum id enim molestie porttitor.</p>

    <p align="center">Suspendisse tellus mi, dapibus ac luctus in, tincidunt vitae ligula. Aliquam consequat molestie
        mollis. Etiam at congue eros. Morbi placerat, turpis a interdum condimentum, nulla odio pulvinar dui, vitae
        vestibulum neque turpis a ligula. In aliquet ornare finibus. Phasellus et egestas lorem. Vestibulum ante ipsum
        primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam convallis luctus libero, in blandit
        risus ultricies ut. Sed metus turpis, scelerisque a faucibus eu, facilisis quis orci. Donec pulvinar lectus quis
        metus molestie consectetur. Cras feugiat, odio quis vulputate luctus, massa sem mollis lorem, id aliquam elit
        metus eu mi. Sed nisi tellus, luctus eu ligula sit amet, viverra tristique sapien. Fusce vel consectetur sem.
        Duis in ultrices enim, vel lobortis sem.</p>

    <p align="center">Phasellus lacus eros, iaculis sed elit rhoncus, bibendum gravida eros. Donec consectetur
        consectetur lacus. Mauris eu viverra eros. Vivamus interdum orci et velit efficitur, ornare lobortis purus
        lobortis. Etiam egestas at eros a pretium. Sed placerat imperdiet ante ac pulvinar. Cras dapibus scelerisque
        odio. Vivamus vel odio nibh. Cras at lectus dolor. Duis varius volutpat commodo. Ut tempor risus orci, quis
        molestie nisl rutrum non. Nullam id nibh id sem facilisis suscipit. Aliquam vulputate, velit id congue
        consequat, massa dui fermentum erat, sed imperdiet neque ante quis nunc. Quisque turpis ante, efficitur nec est
        at, viverra porttitor nibh.</p>

    <p align="center">Curabitur ultrices lectus non eros convallis finibus. Proin porttitor condimentum arcu, quis
        dapibus ipsum dignissim vitae. Vivamus vestibulum diam vel dui eleifend, vitae aliquam lectus efficitur. Quisque
        ut turpis nulla. Donec pulvinar cursus lorem, eu laoreet enim suscipit in. In in risus at tortor auctor
        pellentesque. Nullam at vulputate elit. Donec lacinia sed diam quis semper. Vivamus velit enim, finibus vitae
        ante nec, facilisis sagittis nunc. Nam tincidunt eros quis lacus sollicitudin aliquam. In pellentesque viverra
        ex. Integer vitae ex non risus dapibus varius.</p>

    <p align="center">Vestibulum quis massa sed eros vulputate dictum et ut ipsum. Pellentesque arcu enim, tempor nec
        lectus quis, ultrices dictum diam. Suspendisse ex ante, consectetur eu ex ut, gravida ullamcorper nisi. Etiam
        lacus tortor, blandit eu tempus ac, venenatis ac lacus. Suspendisse hendrerit lacinia sapien, ut feugiat mauris
        elementum ut. Vestibulum ut lorem turpis. Pellentesque vehicula pretium nulla ut egestas. Aenean et nulla ut
        arcu feugiat accumsan. Etiam efficitur lacus in bibendum aliquam. Proin neque est, tempor nec pulvinar eu,
        semper vel nisl.</p>

    <p align="center">Aliquam suscipit tincidunt dolor scelerisque fermentum. Cras at venenatis lorem. Sed nec nulla
        gravida, venenatis justo a, finibus ligula. In aliquam orci augue, sit amet pharetra nibh venenatis vitae. In id
        semper ligula, ut cursus dolor. Proin in est tortor. Aliquam fringilla lorem diam, vel dictum neque pretium a.
        In faucibus euismod pretium. Nullam mauris sem, tempus a viverra eu, commodo id erat. Curabitur vestibulum porta
        leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque non
        gravida nibh.</p>

    <p align="center">Curabitur sagittis ullamcorper ante, eu ullamcorper diam consectetur condimentum. Phasellus
        sollicitudin arcu risus, non eleifend mi malesuada quis. Proin elementum id sapien ac varius. Etiam sollicitudin
        hendrerit elit sit amet elementum. In sollicitudin felis ut ante finibus euismod. Interdum et malesuada fames ac
        ante ipsum primis in faucibus. Pellentesque ac nunc at enim pulvinar tincidunt vitae at lorem. Etiam a consequat
        diam, sit amet efficitur diam. Aliquam euismod ornare ante, ut pulvinar nisl feugiat nec. Etiam ultrices arcu a
        est hendrerit, non molestie purus auctor. Fusce finibus ipsum urna, id mollis magna malesuada vel. Aenean
        sollicitudin dolor nisl, non commodo nunc ultrices quis. Nullam posuere, sem quis venenatis tempor, elit ligula
        iaculis massa, sit amet consequat leo elit nec justo.</p>

    <p align="center">Aliquam tristique nisi ut eros egestas, et lacinia sapien congue. Phasellus eget egestas lorem. In
        iaculis, risus posuere tincidunt malesuada, arcu nibh maximus ex, eget suscipit lacus quam nec lectus. Sed quis
        cursus mauris. Proin aliquam libero neque, et ultricies mi vehicula vel. Proin eget ex at urna elementum
        fermentum in ac nunc. In purus nulla, elementum ac odio vel, dapibus dictum lectus. Aliquam quis cursus urna.
        Donec purus ex, eleifend dictum ligula ut, suscipit commodo elit. Vivamus diam diam, dictum vel malesuada quis,
        luctus non neque. Proin ullamcorper turpis a erat egestas, nec scelerisque nulla dignissim. Nam at luctus purus.
        Duis scelerisque tortor ullamcorper cursus dictum. Duis mattis, mauris nec ullamcorper pulvinar, nisl lorem
        laoreet libero, ut dignissim sem tellus convallis mauris. Phasellus erat purus, lacinia non nisi sed, accumsan
        mollis dolor. Praesent congue vitae elit vitae vehicula.</p>

    <p align="center">Aenean auctor tellus quam, vitae scelerisque massa vehicula quis. Aenean id metus id purus euismod
        aliquam. Duis rhoncus sem sit amet velit egestas, sit amet venenatis libero tincidunt. Suspendisse hendrerit
        ligula nec odio commodo, ut iaculis metus sollicitudin. Donec quis metus eros. Vestibulum ultricies quam orci,
        sed maximus ante pulvinar quis. Integer sit amet purus eu eros sagittis viverra nec vitae sem. Praesent laoreet
        tempor congue. Nullam purus ex, iaculis eget sollicitudin id, commodo nec ante. Cras vitae mi pellentesque,
        pellentesque nisi sed, elementum neque. Donec tellus sem, elementum a posuere ut, commodo in eros. Sed feugiat,
        quam eu pharetra interdum, purus eros maximus ligula, non vulputate odio enim vitae tortor.</p>

    <p align="center">Proin porta mi eu nisl vulputate iaculis. Nam commodo sapien id iaculis tempor. Pellentesque
        porttitor ex urna, ut aliquet elit ullamcorper nec. Pellentesque varius, diam in ultricies varius, diam tellus
        consectetur risus, a dapibus dolor felis ut sapien. Nullam nec mi scelerisque, iaculis quam nec, eleifend
        ligula. Aenean condimentum nec purus id sollicitudin. Cras eget velit vel erat pulvinar rutrum.
        <footer>2015, by Damir</footer>
    </p>
</article>
</body>
</html>
