<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.online</title>
</head>

<body>
<h1>
    <header>
        <div align="center">ONLINE</div>
    </header>
</h1>
<form method='get' action='/logout'>
    <input type='submit' value='ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.logout'/>
</form>
<form action="/menu" name="menu" method="GET" width="983">
    <td width="62">
        <input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.main" name='menu'>
    </td>
    <td width="60"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.results" name='menu'></td>
    <td width="55"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.chat" name='menu'></td>
    <td width="56"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.store" name='menu'></td>
    <td width="62"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.forum" name='menu'></td>
    <td width="61"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.online" name='menu'></td>
    <td width="58"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.voting" name='menu'></td>
    <td width="74"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.profile" name='menu'></td>
</form>
<ol>
  <li><a href="online.ftl">Real Madrid - Barcelona</a></li>
  <li><a href="online.ftl">Zenit - Gazmyas</a></li>
  <li><a href="online.ftl">Spartak - Dynamo</a></li>
</ol>
</body>
</html>
