<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>

<h1>
    <header>
        <div align="center">LOG IN</div>
    </header>
</h1>
<form action="/menu" name="menu" method="GET" width="983">
    <td width="62">
        <input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.main" name='menu'>
    </td>
    <td width="60"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.results" name='menu'></td>
    <td width="55"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.chat" name='menu'></td>
    <td width="56"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.store" name='menu'></td>
    <td width="62"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.forum" name='menu'></td>
    <td width="61"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.online" name='menu'></td>
    <td width="58"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.voting" name='menu'></td>
    <td width="74"><input type="submit" value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.profile" name='menu'></td>
</form>
<br>
<form method='post' action='/register' value="ru.kpfu.itis.DAMIR_GARIFULLIN.servlets.register">
<#if message?? && message?has_content>
    <h5>${message}</h5>
<br>

</#if>
    Username: <input type='text' name='username' /><br>
    Password: <input type='password' name='password1'/><br>
    Repeat password: <input type='password' name='password2'/><br>
    Birthday : <input type="date" name="birthday"><br>
    E-mail : <input type='email' name='email'/><br>

    <input type='submit' value='Register'/><br>
</form>
</body>
</html>