<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>chat</title>
</head>

<body>
<h1>
  <header>
    <div align="center">CHAT</div>
  </header>
</h1>
<form method='get' action='/logout'>
    <input type='submit' value='logout'/>
</form>
<form action="/menu" name="menu" method="GET" width="983">
    <td width="62">
        <input type="submit" value="main" name='menu'>
    </td>
    <td width="60"><input type="submit" value="results" name='menu'></td>
    <td width="55"><input type="submit" value="chat" name='menu'></td>
    <td width="56"><input type="submit" value="store" name='menu'></td>
    <td width="62"><input type="submit" value="forum" name='menu'></td>
    <td width="61"><input type="submit" value="online" name='menu'></td>
    <td width="58"><input type="submit" value="voting" name='menu'></td>
    <td width="74"><input type="submit" value="profile" name='menu'></td>
</form>
  <p>username1: Hi!</p>
  <p>username2: Hello!</p>
  <p>username1:What is your name?</p>
  <p>username1:How old are you?</p>
  <p>username1:Where are you from?</p>
  <p>username2:Penny, 18, London.</p>
  <p>username2:And you?</p>
  <p>username1:Lisa, 18, Berlin</p>
</section>
<header>Username1: What is you hobbie? <button>send</button> </header>
</body>
</html>
