<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>

<h1>
    <header>
        <div align="center">LOG IN</div>
    </header>
</h1>
<form action="/menu" name="menu" method="GET" width="983">
    <td width="62">
        <input type="submit" value="main" name='menu'>
    </td>
    <td width="60"><input type="submit" value="results" name='menu'></td>
    <td width="55"><input type="submit" value="chat" name='menu'></td>
    <td width="56"><input type="submit" value="store" name='menu'></td>
    <td width="62"><input type="submit" value="forum" name='menu'></td>
    <td width="61"><input type="submit" value="online" name='menu'></td>
    <td width="58"><input type="submit" value="voting" name='menu'></td>
    <td width="74"><input type="submit" value="profile" name='menu'></td>
</form>
<#if username?? && username?has_content>
<p>Invalid username or password</p>
<form method='post' action='/login' value="${username}">
<#else>
    <form method='post' action='/login'">
</#if>
    Username: <input type='text' name='username'/>
    <br>
    Password: <input type='text' name='password'/>
    <br>
    <input type="checkbox" name="checked"><span>Save me</span><br>
    <br>
    <input type='submit' value='Log In'/>
</form>
</body>
</html>