<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>
<h1>
    <header>
        <div align="center">PROFILE</div>
    </header>
</h1>
<form method='get' action='/logout'>
    <input type='submit' value='logout'/>
</form>
<form action="/menu" name="menu" method="GET" width="983">
    <td width="62">
        <input type="submit" value="main" name='menu'>
    </td>
    <td width="60"><input type="submit" value="results" name='menu'></td>
    <td width="55"><input type="submit" value="chat" name='menu'></td>
    <td width="56"><input type="submit" value="store" name='menu'></td>
    <td width="62"><input type="submit" value="forum" name='menu'></td>
    <td width="61"><input type="submit" value="online" name='menu'></td>
    <td width="58"><input type="submit" value="voting" name='menu'></td>
    <td width="74"><input type="submit" value="profile" name='menu'></td>
</form>
Hi, ${user}!
</body>
</html>
