<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<#if result == 1 >
<form action="https://baidu.com/s" method="GET">
    <input type="text" name="wd">
    <input type="submit" value="search on baidu.com">
</#if>
<#if result == 2 >
<form action="https://bing.com/search" method="GET">
    <input type="text" name="q">
    <input type="submit" value="search on bing.com">

</#if>
<#if result == 3 >
<form action="https://search.yahoo.com/search" method="GET">
    <input type="text" name="p">
    <input type="submit" value="search on yahoo.com">

</#if>
<#if result == 4 >
<form action="http://search.aol.com/aol/search" method="GET">
    <input type="text" name="q">
    <input type="submit" value="search on aol.com">

</#if>
</body>
</html>