<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Forum</title>
</head>

<body>
<#include "menu.ftl">
<ul>
    <li>reviews</li>
    <li>offers</li>
    <li>Themes :
        <ul>
            <li>Spain
            </li>
            <li>Russia
            </li>
            <li>England
            </li>
        </ul>
    </li>
</ul>
</body>
</html>
