<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<#include "menu.ftl">
Hi, ${user.getLogin()} !<br>
Your birthday : ${user.getBirthday()}<br>
Your e-mail : ${user.getEmail()}
</body>
</html>
