<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
Hi, ${user}!
<form method='get' action='/logout'>
    <input type='submit' value='logout' />
</form>
</body>
</html>