<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>process</title>
</head>
<body>
<form method='post' action='${form_url}'>
    <textarea rows='30' cols='50' name='text'  /></textarea>
    <select name='process'>
        <option value='symbols'>symbols</option>
        <option value='words'>words</option>
        <option value='sentences'>sentences</option>
        <option value='paragraphs'>paragraphs</option>
    </select>
        <input type='submit' value='request' />
        </form>
</body>
</html>